<nav class="navbar navbar-text navbar-expand-lg navbar-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/villadesiree.png') }}" alt="" width="50" height="50" class="d-inline-block align-middle">
            <span class="align-middle title-logo">{{ 'app.index.title'|trans }}</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {#
                {% if app.request.server.get('NEWS_ENABLED') is same as('true') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_article') }}"><img src="https://cdn-icons-png.flaticon.com/512/4097/4097354.png" class="iconProfile"/>{{ 'app.index.topbar.news'|trans }}</a>
                    </li>
                {% endif %}
                {% if app.request.server.get('INSTAGRAM_ENABLED') is same as('true') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_instagram') }}"><img src="https://www.pngmart.com/files/21/Instagram-Logo-Silhoutte-PNG-File.png" class="iconProfile">{{ 'app.index.topbar.insta'|trans }}</a>
                </li>
                {% endif %}
                #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_guadeloupe') }}"><img src="{{ asset('images/localisation.png') }}" class="iconProfile"/>{{ 'app.index.topbar.guada'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_rate') }}"><img src="{{ asset('images/reservation.png') }}" class="iconProfile"/>{{ 'app.index.topbar.tarifs'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}"><img src="{{ asset('images/lettre.png') }}" class="iconProfile"/>{{ 'app.index.topbar.contact'|trans }}</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn-icons-png.flaticon.com/512/3106/3106773.png" class="iconProfile"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('app_article_new') }}">{{ 'app.index.topbar.article'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_instagram_settings') }}">{{ 'app.index.topbar.instasettings'|trans }}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_profile') }}">{{ 'app.index.topbar.profile'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'app.index.topbar.logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="">
                        <a class="nav-link" href="{{ path('app_login') }}"> <img src={{ asset('images/connexion.png') }} class="iconLogin"/></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br>
