{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Actualités <img src="https://cdn-icons-png.flaticon.com/512/4097/4097354.png" style="width: 50px"></h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if articles %}
            {% for article in articles %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header" style="text-align: center">
                            <div class="d-flex">
                                {% if article.imageName %}
                                    {% if article.imageName ends with '.mp4' or article.imageName ends with '.avi' or article.imageName ends with '.mov' %}
                                        <video controls style="width: 400px; height: 200px; margin-left: auto; margin-right: auto">
                                            <source src="images/articles/{{ article.imageName }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% else %}
                                        <img src="images/articles/{{ article.imageName }}" class="card-img-top" alt="..." style="width: 50%; margin-right: auto; margin-left: auto">
                                    {% endif %}
                                {% elseif article.videoLink %}
                                    <iframe width="400" height="200"
                                            src="{{ article.videoLink }}">
                                    </iframe>
                                {% endif %}
                            </div>
                            <br/>
                            <div class="titleArticle">
                                <h5 class="card-title">{{ article.title }}</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ article.content|slice(0,200)|raw }}...
                            <br/>
                            <div class="button_crud">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('app_article_edit', {'id': article.id}) }}"><button type="button" class="btn btn-outline-success">Modifier ✏️</button></a>
                                    <a href="{{ path('app_article_delete', {'id': article.id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer ❌</button></a>
                                    {% if article.enabled %}
                                        <a href="{{ path('app_article_enable', {'id': article.id}) }}"><button type="button" class="btn btn-outline-warning">Désactiver 🔴</button></a>
                                    {% else %}
                                        <a href="{{ path('app_article_enable', {'id': article.id}) }}"><button type="button" class="btn btn-outline-primary">Activer 🟢</button></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="tex-muted">{{ article.author }}</small>
                            <small class="text-muted">{{ article.date|date('Y-m-d H:i') }}</small>
                            <a href="{{ path('app_article_show', {'id': article.id}) }}"><button type="button" class="btn btn-outline-secondary btn-sm">Voir plus... 🔍</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if articles|length >= 3 %}
                <div class="news">
                    <a href="{{ path('app_article_list') }}"><button type="button" class="btn-news btn btn-secondary">Plus d'actualités</button></a>
                </div>
            {% endif %}
        {% else %}
            <h2 class="text-center" style="margin-left: auto; margin-right: auto">Aucun articles publié actuellement.</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}
