{# templates/article/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div style="text-align: center">
            {% if article.imageName %}
                {% if article.imageName ends with '.mp4' or article.imageName ends with '.avi' or article.imageName ends with '.mov' %}
                    <video controls style="width: 750px; height: 400px">
                        <source src="/images/articles/{{ article.imageName }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                {% else %}
                    <img src="/images/articles/{{ article.imageName }}" class="card-img-top" alt="..." style="width: 25%;">
                {% endif %}
            {% elseif article.videoLink %}
                <iframe width="750" height="400"
                        src="{{ article.videoLink }}">
                </iframe>
            {% endif %}
        </div>
        <br/>
        <div class="card">
            <div class="card-header text-center">
                Titre : {{ article.title }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ article.content|raw }}</p>
            </div>
            <div class="card-footer text-muted text-center">
                Auteur : {{ article.author }}
                <br/>
                Date de publication : {{ article.date|format_datetime(locale='fr', pattern="EEEE d MMMM yyyy 'à' HH:mm") }}
            </div>
        </div>
    </div>
{% endblock %}
